# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignorar node_modules
node_modules/

# Ignorar archivos de entorno en el frontend
.env

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de editor y configuraciones específicas
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
